{{ define "main" }}
<section class="hero">
<div class="hero-intro restrict-width">
    <h1 class="sans-font">Hello there! I&apos;m Arjun.</h1>
    <p class="lead serif-font">
        I&apos;m a web designer &amp; developer. I love designing clean, beautiful, and effective experiences for the
        web.
    </p>
</div>
</section>
<section class="what-i-do">
    <div class="restrict-width sans-font">
        <h2>What I Do</h2>
        <div class="skills">
            <ul class="serif-font">
                <li>Responsive Web Design</li>
                <li>User Interface Design</li>
                <li>PHP Development</li>
                <li>WordPress Theme Development</li>
            </ul>
        </div>
    </div>
</section>
{{ end }}